<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>column_Ads</key>
	<array>
		<dict>
			<key>AdBarHeight</key>
			<string>40</string>
			<key>BeginIndex</key>
			<integer>0</integer>
			<key>EndIndex</key>
			<integer>7</integer>
			<key>Position</key>
			<integer>0</integer>
			<key>Duration</key>
			<integer>-1</integer>
			<key>interval</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>AdBarHeight</key>
			<string>40</string>
			<key>BeginIndex</key>
			<integer>0</integer>
			<key>EndIndex</key>
			<integer>3</integer>
			<key>Position</key>
			<integer>1</integer>
			<key>Duration</key>
			<integer>-1</integer>
			<key>interval</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>article_Ads</key>
	<array>
		<dict>
			<key>AdBarHeight</key>
			<integer>40</integer>
			<key>BeginIndex</key>
			<integer>0</integer>
			<key>EndIndex</key>
			<integer>3</integer>
			<key>Position</key>
			<integer>0</integer>
			<key>Duration</key>
			<integer>-1</integer>
			<key>interval</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>AdBarHeight</key>
			<integer>40</integer>
			<key>BeginIndex</key>
			<integer>4</integer>
			<key>EndIndex</key>
			<integer>7</integer>
			<key>Position</key>
			<integer>1</integer>
			<key>Duration</key>
			<integer>-1</integer>
			<key>interval</key>
			<integer>10</integer>
		</dict>
	</array>
</dict>
</plist>
