<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server_if</key>
	<string>http://116.62.154.230:8080</string>
	<key>ss_id_说明</key>
	<string>客户id  新空云正式：xy    测试：xkycs  宜宾日报：ybrb</string>
	<key>ss_id</key>
	<string>45</string>
	<key>has_startHelpPage</key>
	<false/>
	<key>tabBarPersonalCenterIcon说明</key>
	<string>个人中心在tabbar上时的图片</string>
	<key>tabBarPersonalCenterIcon_normal</key>
	<string>tabbar_mine_normal</string>
	<key>tabBarPersonalCenterIcon_selected</key>
	<string>tabbar_mine_selected</string>
	<key>isNavigationAddSearch_说明</key>
	<string>是否在首页logo导航栏右侧增加搜索框</string>
	<key>isNavigationAddSearch</key>
	<false/>
	<key>isColumnEidtInRight说明</key>
	<string>在首页有logo且个人中心在底部时编辑按钮是否放在栏目条上</string>
	<key>isColumnEidtInRight</key>
	<true/>
	<key>isChangeSearchAtUser说明</key>
	<string>个人中心在底部时是否替换个人中心按钮为搜索按钮仅首页</string>
	<key>isChangeSearchAtUser</key>
	<false/>
	<key>isHomeAddSearch_说明</key>
	<string>是否在首页下拉刷新增加搜索框（但需要轮播图的比例为4:3即1.333）</string>
	<key>isHomeAddSearch</key>
	<true/>
	<key>isAppearReadCount说明</key>
	<string>列表普通稿件是否显示阅读数</string>
	<key>isAppearReadCount</key>
	<true/>
	<key>isLiveAppearReadCount说明</key>
	<string>列表直播稿件是否显示阅读数</string>
	<key>isLiveAppearReadCount</key>
	<true/>
	<key>isCarouselAppearReadCount说明</key>
	<string>轮播图普通稿件是否显示阅读数</string>
	<key>isCarouselAppearReadCount</key>
	<true/>
	<key>isCarouselLiveAppearReadCount说明</key>
	<string>轮播图直播稿件是否显示阅读数</string>
	<key>isCarouselLiveAppearReadCount</key>
	<true/>
	<key>isAppearDate说明</key>
	<string>列表稿件是否显示时间</string>
	<key>isAppearDate</key>
	<true/>
	<key>isCarouselAppearDate说明</key>
	<string>轮播图稿件是否显示时间</string>
	<key>isCarouselAppearDate</key>
	<true/>
	<key>isArticleShowDefaultImage说明</key>
	<string>稿件列表没图片时是否显示稿件默认占位图</string>
	<key>isArticleShowDefaultImage</key>
	<true/>
	<key>isRightWithThumbnail说明</key>
	<string>稿件列表中的图片是否放置在右侧</string>
	<key>isRightWithThumbnail</key>
	<false/>
	<key>isNewspaperApperCover说明</key>
	<string>数字报是否显示选中区域</string>
	<key>isNewspaperApperCover</key>
	<false/>
	<key>integralName说明</key>
	<string>积分改名</string>
	<key>integralName</key>
	<string>积分</string>
	<key>isOpenSpeech说明</key>
	<string>是否开启语音播报</string>
	<key>isOpenSpeech</key>
	<true/>
	<key>initialAnnouncer说明</key>
	<string>初始播音员——普通话女声:1 (默认)；普通话男声:2；粤语女声:3；台湾话女声:4</string>
	<key>initialAnnouncer</key>
	<string>1</string>
	<key>isShowShareInvitationCode说明</key>
	<string>是否显示分享邀请码</string>
	<key>isShowShareInvitationCode</key>
	<true/>
	<key>shareAppLabel说明</key>
	<string></string>
	<key>shareAppLabel</key>
	<string>邀请下载</string>
	<key>isPaperVertical说明</key>
	<string>是否数字报纵向翻页</string>
	<key>isPaperVertical</key>
	<true/>
	<key>isHideLogin_QQ说明</key>
	<string>是否隐藏QQ登陆</string>
	<key>isHideLogin_QQ</key>
	<false/>
	<key>isHideLogin_WeChat说明</key>
	<string>是否隐藏微信登陆</string>
	<key>isHideLogin_WeChat</key>
	<false/>
	<key>isHideLogin_WeiBo说明</key>
	<string>是否隐藏微博登陆</string>
	<key>isHideLogin_WeiBo</key>
	<false/>
	<key>isNeedBindPhoneNumber说明</key>
	<string>是否需要强制绑定手机号</string>
	<key>isNeedBindPhoneNumber</key>
	<false/>
	<key>inviteShareTime说明</key>
	<string>邀请分享按钮显示时间：格式xxxx-xx-xx</string>
	<key>inviteShareTime</key>
	<string>2016-12-05</string>
	<key>IPV6DelineDate说明</key>
	<string>启用IPV6服务器环境截止时间</string>
	<key>IPV6DelineDate</key>
	<string>2017-04-10</string>
	<key>thirdParam</key>
	<dict>
		<key>第三方登录显示时间</key>
		<string></string>
		<key>thirdLoginTime</key>
		<string>2016-08-01</string>
		<key>友盟对接参数</key>
		<string></string>
		<key>kUMengAppKey</key>
		<string>5a0024c7b27b0a2cbb000016</string>
		<key>个推对接参数</key>
		<string></string>
		<key>kGtAppId</key>
		<string>gVqOUcGjvH8qNaJQLloLo1</string>
		<key>kGtAppKey</key>
		<string>5BnP1MuzvB93lxCVtiLRF4</string>
		<key>kGtAppSecret</key>
		<string>4eYnVw3W6t8cF3xXyokNR2</string>
		<key>掌淘Mob对接参数</key>
		<string>kMobAppKey － 应用AppKey</string>
		<key>kMobAppKey</key>
		<string>11c612448b2aa</string>
		<key>QQ对接参数</key>
		<string></string>
		<key>kMobQQAppId</key>
		<string>1105263105</string>
		<key>kMobQQAppSecret</key>
		<string>fsXfGV9SGscretj5</string>
		<key>微信对接参数</key>
		<string></string>
		<key>kMobWeChatAppId</key>
		<string>wx51f17828b919f266</string>
		<key>kMobWeChatAppSecret</key>
		<string>2e50d0a35bd0f1898598c9f018a2a4f6</string>
		<key>微博对接参数</key>
		<string></string>
		<key>kMobWeiboAppKey</key>
		<string>3915754928</string>
		<key>kMobWeiboAppSecret</key>
		<string>2ced2a5862fe2e1b42ce44c2337859d8</string>
		<key>kMobWeiboURL</key>
		<string>http://h5.newaircloud.com</string>
		<key>掌淘短信对接参数</key>
		<string></string>
		<key>kMobSMSAppKey</key>
		<string>11c622bbe4608</string>
		<key>kMobSMSAppSecret</key>
		<string>b48c860cb2ef5f69b241a1b1171f5d4e</string>
		<key>FaceBook对接参数</key>
		<string></string>
		<key>kMobFBAppKey</key>
		<string></string>
		<key>kMobFBAppSecret</key>
		<string></string>
		<key>科大讯飞语音对接参数</key>
		<string>新空云57032bc3</string>
		<key>kIFlyAppId</key>
		<string>57032bc3</string>
		<key>方正大数据参数</key>
		<string></string>
		<key>kFounderBDAppId</key>
		<string></string>
		<key>kFounderBDAppKey</key>
		<string></string>
		<key>有赞商城对接参数</key>
		<string></string>
		<key>kYouZanUserAgeny</key>
		<string>22eca6d4684dcd4df41478502859000</string>
		<key>kYouZanLoadUrl</key>
		<string>https://h5.koudaitong.com/v2/showcase/homepage?alias=xxt3fo9m</string>
		<key>魔窗对接参数</key>
		<string></string>
		<key>kMWAppKey</key>
		<string>28AVUCAH2VIDAH7770WYON60OHR4YKCD</string>
		<key>kMWMLinkKey</key>
		<string>newaircloud</string>
	</dict>
	<key>firstTimeNoNetworkAlertTitle说明</key>
	<string>首次启动无网络弹框标题</string>
	<key>firstTimeNoNetworkAlertTitle</key>
	<string>请检查网络设置</string>
	<key>firstTimeNoNetworkAlertContent说明</key>
	<string>首次启动无网络弹框详情</string>
	<key>firstTimeNoNetworkAlertContent</key>
	<string>请前往设置打开应用联网权限</string>
	<key>tabbarIconNormal1</key>
	<string></string>
	<key>tabbarIconNormal2</key>
	<string></string>
	<key>tabbarIconNormal3</key>
	<string></string>
	<key>tabbarIconNormal4</key>
	<string></string>
	<key>tabbarIconNormal5</key>
	<string></string>
	<key>tabbarIconHighlight1</key>
	<string></string>
	<key>tabbarIconHighlight2</key>
	<string></string>
	<key>tabbarIconHighlight3</key>
	<string></string>
	<key>tabbarIconHighlight4</key>
	<string></string>
	<key>tabbarIconHighlight5</key>
	<string></string>
	<key>isNeedLoginBeforeEnter说明</key>
	<string>是否需要登录才能浏览app</string>
	<key>isNeedLoginBeforeEnter</key>
	<false/>
	<key>defaultAreaCode</key>
	<string>0086</string>
	<key>defaultAreaCountry</key>
	<string>中国大陆</string>
	<key>isOnlyAliDaYu说明</key>
	<string>获取验证码平台是否只是阿里大于</string>
	<key>isOnlyAliDaYu</key>
	<false/>
</dict>
</plist>
