<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>column_head_scale_说明</key>
	<string>轮播图片尺寸比例（默认4:3=1.333,16:9=1.777),如改为16:9，搜索按钮将放在左侧滑</string>
	<key>column_head_scale</key>
	<string>1.333</string>
	<key>special_top_image_scale_说明</key>
	<string>专题头图的尺寸比例（width/height)，默认3</string>
	<key>special_top_image_scale</key>
	<string>3</string>
	<key>column_head_height_说明</key>
	<string>栏目Header的高度（默认0）,需要Logo导航则设置为40</string>
	<key>column_head_height</key>
	<integer>40</integer>
	<key>column_head_backcolor_说明</key>
	<string>栏目Header的背景色（默认 19,183,246 ），需要调整Logo则设置为 255,255,255</string>
	<key>column_head_backcolor</key>
	<string>204,0,0</string>
	<key>column_button_height_说明</key>
	<string>栏目条高度</string>
	<key>column_button_height</key>
	<integer>44</integer>
	<key>column_button_margin_说明</key>
	<string>栏目左右边距大小（默认35）,增加Logo则设置为5</string>
	<key>column_button_margin</key>
	<integer>35</integer>
	<key>column_refresh_interval_说明</key>
	<string>切换导航栏刷新时间间隔</string>
	<key>column_refresh_interval</key>
	<integer>3600</integer>
	<key>column_button_spacing</key>
	<integer>13</integer>
	<key>column_name_font_说明</key>
	<string>栏目导航条字体大小</string>
	<key>column_name_font_size</key>
	<integer>18</integer>
	<key>column_name_font_bold说明</key>
	<string>栏目导航条字体粗细</string>
	<key>column_name_font_bold</key>
	<false/>
	<key>column_name_font_seledcolor说明</key>
	<string>栏目导航条选中颜色</string>
	<key>column_name_font_seledcolor</key>
	<string>204,0,0</string>
	<key>column_name_font_color说明</key>
	<string>栏目导航条未选中颜色</string>
	<key>column_name_font_color</key>
	<string>0,0,0</string>
	<key>column_bar_backgroundcolor说明</key>
	<string>栏目条背景颜色</string>
	<key>column_bar_backgroundcolor</key>
	<string>255,255,255</string>
	<key>column_edit_backgroundcolor说明</key>
	<string>栏目编辑按钮背景色</string>
	<key>column_edit_backgroundcolor</key>
	<string>255,255,255</string>
	<key>column_all_color说明</key>
	<string>全局颜色（色调三色值）19,183,246</string>
	<key>column_all_color</key>
	<string>204,0,0</string>
	<key>column_diselect_imagecolor说明</key>
	<string>栏目条的栏目是图片时，未选中时的图片颜色（默认灰色123,123,123）</string>
	<key>column_diselect_imagecolor</key>
	<string>123,123,123</string>
	<key>column_select_style说明</key>
	<string>栏目条选中栏目样式</string>
	<key>column_select_style</key>
	<dict>
		<key>style_type说明</key>
		<string>1:三角(默认)；2:圆矩形背景</string>
		<key>style_type</key>
		<integer>1</integer>
		<key>style_select_color说明</key>
		<string>圆矩形选中颜色</string>
		<key>style_select_color</key>
		<string>255,255,255</string>
		<key>style_disselect_colors说明</key>
		<string>圆矩形选中颜色</string>
		<key>style_disselect_color</key>
		<string>255,255,255</string>
	</dict>
</dict>
</plist>
