<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我的评价</string>
		<key>image</key>
		<string>icon_left_search</string>
		<key>class</key>
		<string>MyCommentLIstController</string>
		<key>icon</key>
		<string>my_comment</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我的收藏</string>
		<key>image</key>
		<string>icon_left_db</string>
		<key>class</key>
		<string>FavoritePageController</string>
		<key>icon</key>
		<string>my_collect</string>
	</dict>
	<dict>
		<key>name</key>
		<string>设置</string>
		<key>image</key>
		<string>icon_left_setting</string>
		<key>class</key>
		<string>SetupPageController</string>
		<key>icon</key>
		<string>my_setting</string>
	</dict>
</array>
</plist>
