<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>active_cell____________</key>
	<string>____________活动____________</string>
	<key>middle_active_cell_thumbnail_说明</key>
	<string>新闻列表缩略图配置</string>
	<key>middle_active_cell_thumbnail_frame</key>
	<string>{{10,10},{300,95}}</string>
	<key>middle_active_cell_date_label_说明</key>
	<string>新闻列表时间戳配置</string>
	<key>middle_active_cell_date_label_frame</key>
	<string>{{9,134},{230,24}}</string>
	<key>middle_active_cell_state_button_frame_说明</key>
	<string>活动状态配置</string>
	<key>middle_active_cell_state_button_frame</key>
	<string>{{240,122},{70,23}}</string>
	<key>middle_active_cell_date_font_size</key>
	<string>13</string>
	<key>middle_active_cell_date_text_color</key>
	<string>0x99,0x99,0x99</string>
	<key>middle_active_cell_title_label_frame</key>
	<string>{{9,109},{230,30}}</string>
	<key>middle_active_cell_title_font_size</key>
	<integer>15</integer>
	<key>middle_active_cell_title_text_color </key>
	<string>0x33,0x33,0x33</string>
	<key>middle_active_cell_height</key>
	<integer>158</integer>
	<key>head_cell____________</key>
	<string>____________头条____________</string>
	<key>head_cell_说明</key>
	<string>头条图片配置</string>
	<key>head_cell_height</key>
	<integer>155</integer>
	<key>head_cell_title_font_size</key>
	<integer>15</integer>
	<key>head_cell_read_font_size</key>
	<integer>10</integer>
	<key>head_cell_pubtime_font_size</key>
	<integer>10</integer>
	<key>head_cell_title_label_height</key>
	<integer>30</integer>
	<key>head_cell_title_text_color</key>
	<string>0,0,0</string>
	<key>count_说明</key>
	<string>每次获取新闻列表的数目</string>
	<key>count</key>
	<integer>20</integer>
	<key>cache_count_说明</key>
	<string>缓存上限个数</string>
	<key>cache_count</key>
	<string>1000</string>
	<key>middle_cell____________</key>
	<string>____________普通____________</string>
	<key>middle_cell_summary_说明</key>
	<string>新闻列表摘要配置</string>
	<key>image_show_mode_说明</key>
	<string>0表示拉伸铺满全部显示；1表示不变形全部显示；2表示不变形部分裁剪居中显示</string>
	<key>image_show_mode</key>
	<string>0</string>
	<key>middle_cell_height</key>
	<integer>83</integer>
	<key>middle_cell_title_font_size</key>
	<integer>14</integer>
	<key>middle_cell_title_text_color</key>
	<string>51,51,51</string>
	<key>middle_cell_title_label_frame</key>
	<string>{{104,10},{206,40}}</string>
	<key>middle_cell_summary_font_size</key>
	<integer>12</integer>
	<key>middle_cell_summary_text_color</key>
	<string>153,153,153</string>
	<key>middle_cell_summary_label_frame</key>
	<string>{{0,0},{0,0}}</string>
	<key>middle_cell_summary_text_count</key>
	<string>40</string>
	<key>middle_cell_date_label_说明</key>
	<string>新闻列表时间戳配置</string>
	<key>middle_cell_date_label_frame</key>
	<string>{{0,0},{0,0}}</string>
	<key>middle_cell_date_font_size</key>
	<string>11</string>
	<key>middle_cell_date_text_color</key>
	<string>153,153,153</string>
	<key>middle_cell_date</key>
	<string></string>
	<key>middle_cell_thumbnail_说明</key>
	<string>新闻列表缩略图配置</string>
	<key>middle_cell_thumbnail_frame</key>
	<string>{{10,10},{84,63}}</string>
	<key>cell_background_color_说明</key>
	<string>新闻列表背景色</string>
	<key>cell_background_color</key>
	<string>255,255,255</string>
	<key>more_cell_height</key>
	<integer>45</integer>
	<key>more_cell_title_font_size</key>
	<integer>14</integer>
	<key>pdf_cell_height</key>
	<integer>70</integer>
	<key>pdf_cell_title_label_frame</key>
	<string>{{50,18},{195,40}}</string>
	<key>image_cell________________</key>
	<string>____________图片____________</string>
	<key>image_cell_thumbnail_frame</key>
	<string>{{10,3},{300,11}}</string>
	<key>image_cell_height</key>
	<integer>155</integer>
	<key>image_cell_title_font_size</key>
	<integer>15</integer>
	<key>image_cell_title_text_color</key>
	<string>51,51,51</string>
	<key>image_cell_title_label_frame</key>
	<string>{{10,92},{300,30}}</string>
	<key>image_cell_summary_font_size</key>
	<integer>12</integer>
	<key>image_cell_summary_text_color</key>
	<string>153,153,153</string>
	<key>image_cell_summary_label_frame</key>
	<string>{{10,115},{300,15}}</string>
	<key>image_cell_summary_text_count</key>
	<string>40</string>
	<key>image_cell_date_label_frame</key>
	<string>{{10,130},{300,15}}</string>
	<key>image_cell_date_font_size</key>
	<integer>10</integer>
	<key>image_cell_date_text_color</key>
	<string>60,60,60</string>
	<key>left_username_font_size</key>
	<string>16</string>
	<key>left_userIcon_width</key>
	<string>10</string>
	<key>right_userIcon_width</key>
	<string>290</string>
</dict>
</plist>
