<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>areaId</key>
		<string>101190101</string>
		<key>areaName</key>
		<string>南京</string>
		<key>weiboKey</key>
		<string>xhrb.nanj</string>
		<key>weiboPassWord</key>
		<string>Xhrbnj()</string>
		<key>columnId</key>
		<string>59</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190201</string>
		<key>areaName</key>
		<string>无锡</string>
		<key>weiboKey</key>
		<string>Xhrb.wux</string>
		<key>weiboPassWord</key>
		<string>Xhrbwx()</string>
		<key>columnId</key>
		<string>62</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190301</string>
		<key>areaName</key>
		<string>镇江</string>
		<key>weiboKey</key>
		<string>Xhrb.zhenj</string>
		<key>weiboPassWord</key>
		<string>Xhrbzj()</string>
		<key>columnId</key>
		<string>60</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190401</string>
		<key>areaName</key>
		<string>苏州</string>
		<key>weiboKey</key>
		<string>Xhrb.suz</string>
		<key>weiboPassWord</key>
		<string>Xhrbsz()</string>
		<key>columnId</key>
		<string>61</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190501</string>
		<key>areaName</key>
		<string>南通</string>
		<key>weiboKey</key>
		<string>Xhrb.nant</string>
		<key>weiboPassWord</key>
		<string>Xhrbnt()</string>
		<key>columnId</key>
		<string>71</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190601</string>
		<key>areaName</key>
		<string>扬州</string>
		<key>weiboKey</key>
		<string>Xhrb.yangz</string>
		<key>weiboPassWord</key>
		<string>Xhrbyz()</string>
		<key>columnId</key>
		<string>69</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190701</string>
		<key>areaName</key>
		<string>盐城</string>
		<key>weiboKey</key>
		<string>Xhrb.yanc</string>
		<key>weiboPassWord</key>
		<string>Xhrbyc()</string>
		<key>columnId</key>
		<string>68</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190801</string>
		<key>areaName</key>
		<string>徐州</string>
		<key>weiboKey</key>
		<string>Xhrb.xuz</string>
		<key>weiboPassWord</key>
		<string>Xhrbxz()</string>
		<key>columnId</key>
		<string>64</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101190901</string>
		<key>areaName</key>
		<string>淮安</string>
		<key>weiboKey</key>
		<string>Xhrb.huaia</string>
		<key>weiboPassWord</key>
		<string>Xhrbha()</string>
		<key>columnId</key>
		<string>67</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101191001</string>
		<key>areaName</key>
		<string>连云港</string>
		<key>weiboKey</key>
		<string>Xhrb.lianyg</string>
		<key>weiboPassWord</key>
		<string>Xhrblyg()</string>
		<key>columnId</key>
		<string>65</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101191101</string>
		<key>areaName</key>
		<string>常州</string>
		<key>weiboKey</key>
		<string>Xhrb.changz</string>
		<key>weiboPassWord</key>
		<string>Xhrbcz()</string>
		<key>columnId</key>
		<string>63</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101191201</string>
		<key>areaName</key>
		<string>泰州</string>
		<key>weiboKey</key>
		<string>Xhrb.taiz</string>
		<key>weiboPassWord</key>
		<string>Xhrbtz()</string>
		<key>columnId</key>
		<string>70</string>
	</dict>
	<dict>
		<key>areaId</key>
		<string>101191301</string>
		<key>areaName</key>
		<string>宿迁</string>
		<key>weiboKey</key>
		<string>Xhrb.suq</string>
		<key>weiboPassWord</key>
		<string>Xhrbsq()</string>
		<key>columnId</key>
		<string>66</string>
	</dict>
</array>
</plist>
